@import "src/assets/variables";

div.modal {
  .modal-close {
    background-color: rgba(0, 0, 0, 0.2);
  }

  div.modal-content {
    border-radius: 6px;

    .modal-card {      
      
      footer.modal-card-foot {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

div::-webkit-scrollbar {
  width: 0.25rem;
}

div::-webkit-scrollbar-track {
  background: $primary-light;
}

div::-webkit-scrollbar-thumb {
  background: $dark;
}