@import "theme";
@import "overrides";
@import "~bulma/bulma";
@import "components/_components";
@import "animations";
@import "forms";

html {
  overflow-y: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-background-gradient {
  background: $primary-dark;
  background: linear-gradient(180deg, $primary-dark 0%, $primary 100%);
}

.is-responsive {
  @extend .is-four-fifths-fullhd;
  @extend .is-full-mobile;
}