//Override default variables here
$primary: hsl(223, 41%, 22%);
$primary-dark: hsl(223, 56%, 13%);
$primary-light: hsl(223, 41%, 54%);
$link: hsl(223, 41%, 46%);


// Support for css variables - currently unavailable
//@import "~css-vars/css-vars";
//$css-vars-use-native: true;
//
//@include css-vars((
//        --primary: $primary,
//        --info: $info,
//))