$white: hsl(210, 10%, 96%);
$white-bis: hsl(210, 11%, 94%);
$white-ter: hsl(210, 15%, 91%);

// Support for css variables - currently unavailable
//@import "~css-vars/css-vars";
//$css-vars-use-native: true;
//
//@include css-vars((
//        --primary: $primary,
//        --info: $info,
//))