@import "src/assets/variables";

.login-body {
  align-items: flex-start !important;
  margin-top: 5rem;
}

.login-container {
  padding-top: 5rem;

  .login-block {
    flex-direction: column;
    background-color: $light;
    padding: 1.5rem 1.5rem 2.5rem;
    border-radius: $radius;

    .login-title {
      margin-bottom: 1rem;
    }
  }
}

.is-small {
  max-width: 480px;
}