.icon-is-foil {
  margin-left: 5px;
}

.foil-control {
  min-width: 100px;
}

.edit-disabled {
  pointer-events: none;
  touch-action: none;
}

.subtitle-block {
  p {
    button {
      margin-left: 5px;
    }
  }
}