@import "src/assets/variables";

@media(max-width: $mobile) {
  .columns.columns-mobile-inverted {
    flex-direction: column-reverse;
    display: flex;
  }
}

div.filters {
  margin-bottom: 12px;
}

div.table-container {
  margin-bottom: 12px;
}